@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* outline: red solid 2px; */
}

html{
    font-family: 'Cairo', sans-serif;
    color:white;
}

header{
    width: 100vw;
    
    
    display: flex;
    flex-wrap: wrap;
}

#head{
    background-color: black;
    display: flex;
    padding: 1rem;
    height: 60vh;
    width: 100%
}

#head>div{
    display: flex;
    flex-direction: column;
}

#head1{
flex-grow:2;
justify-content: center;
}

#head2{
    flex-grow: 1;
    justify-content: space-between;
}

#pc-head{
    max-width: 80%;
    max-height: 80%;
    align-self: center;
}

span{
    color:#22b573;
}

.caja-redes{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
}

.caja-redes img{
    width: 3rem;
}

h1{
    line-height: 1.2;
}