@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* max-width: 100%; */
    /* outline: red solid 2px; */
}

:root{
    --color-main-black-filter:rgba(0, 0, 0, 0.692);
    --color-main-black-filter-light:rgba(0, 0, 0, 0.514);
    --color-main-aqua-green:#22b573;
    --color-main-aqua-green-filter:#22b573d2;
    --light-style:white;
    --dark-style:black;
    --bg-nubes:url(assets/nubes-fondo.png);
}

html{
    font-family: 'Cairo', sans-serif;
    color:var(--light-style);
    line-height: 1.2;
}
p{
    line-height: 1.5;
}

/* header */

header{
    width: 100%;
    padding-top: 2rem;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.header__banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/nubes-fondo-doble.jpg);
    background-position-y: 0%;
    padding: 2rem;

    animation-name: bk-animate;
  animation-duration: 26s;
  animation-iteration-count:infinite ;
  animation-timing-function: linear;
  background-repeat: repeat-y;
}
@keyframes bk-animate {
    0%   {background-position-y: 0%;}
    100% {background-position-y: 120%;}
  }



.header__p{
    text-align: center;
    font-size: 2rem;
}

.header__p2{
    font-size: 1.3rem;
}

.header__h2{
    width: 100%;
    background-color: var(--color-main-aqua-green);
    text-align: center;
    padding: 1rem;
}

.header__h2 h2{
    font-size: 3rem;
    color:black;
    font-weight: 900;

    animation-name: alternarbn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes alternarbn {
    0%,40%,100%{
        color:black;
    }
    50%,90%{
        color:white;
    }
}

.flex-h{
    display: flex;
    align-items: flex-start;
}

#head{
    background-color: var(--dark-style);
    /* background-image: url(assets/grafico.png); */
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
}

.sabias{
    width: 100%;
    background-color: var(--dark-style);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.sabias>div{
    width: 80%;
}

/* #head>div{
    display: flex;
    flex-direction: column;
} */

#head1{
flex-grow:3;
justify-content: center;
}

#head2{
    flex-grow:1;
    justify-content: space-between;
}

#pc-head{
    max-width: 60%;
    max-height: 80%;
    align-self: center;
}

span{
    color:var(--color-main-aqua-green);
}

.caja-redes{
    display: flex;
    /* gap:1rem; */
    align-items: center;
    justify-content: space-between;
    max-width: 13rem;
}

.caja-redes img{
    width: 3rem;
}

h1{
    line-height: 1.2;
    font-size: clamp(1rem, 10vw, 5rem);
    width: max-content;
    

}



.anim-escribir{
    color:#222;
    position: relative;
    width: 100%;
}

.anim-escribir::before{
    content:attr(data-text);
    position: absolute;
    color:white;
    overflow: hidden;
    white-space: nowrap;
    border-right: solid 4px #fff;
    animation: escribir 4s linear infinite;
    max-width: max-content;
}

@keyframes escribir {
    0%,10%,100%{
        width: 0;

    }
    70%,90%{
        width: 100%;
    }
}

.title{
    font-size:3rem;
    text-align: center;
    font-weight: 600;
    padding-top: 2rem;
    color: var(--color-main-aqua-green);
}

#caracteristicas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(2,1fr);
    width: 100%;
    background-image: var(--bg-nubes);
    background-attachment: fixed;
}

.grid-verde{
    background-color: var(--color-main-aqua-green-filter);
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.grid-negro{
    background-color: var(--color-main-black-filter);
    width: 100%;
    height: 100%;
    min-height: 300px;
}

#caracteristicas>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

#caracteristicas p,#caracteristicas h2{
    padding: 0rem 1rem;
}

#caracteristicas p,#caracteristicas li{
    font-size: 1.2rem;
}

#caracteristicas p{
    text-align: center;
}

#caracteristicas h2{
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    
}

#caracteristicas li{
    list-style: square;
}

#ssl{
    font-size: 2rem;
    font-weight: 700;
}

#ssl span{
    color: white;
    font-size: 3rem;
}

#caracteristicas img{
    max-width: 150px;
}

/* parrafo que explica el proceso */

.parrafo-claro{
    color:black;
    padding: 2rem;
}

.parrafo-claro h2{
    color:var(--color-main-aqua-green);
    font-size: 2.5rem;
}

.parrafo-claro p{
    text-align: justify;
    font-size: 1.5rem;
}

.parrafo-encuadrado{
    margin: 0 2rem;
    border: var(--color-main-aqua-green) solid 3px;
    color:black;
    padding: 1rem;
}

.parrafo-encuadrado h2{
    color:var(--color-main-aqua-green);
    font-size: 2.5rem;
}

.parrafo-encuadrado p{
    text-align: justify;
    font-size: 1.5rem;
}

.parrafo-con-fondo{
    margin: 1rem 2rem;
    background-color: var(--color-main-aqua-green);
    color:white;
    padding: 1rem;
}

.parrafo-con-fondo h2{
    color:white;
    font-size: 2.5rem;
}

.parrafo-con-fondo p{
    text-align: justify;
    font-size: 1.5rem;
}

.tres-cols{
    column-count: 3;
    column-gap: 3rem;
}

/* lista de requisitos sobre fondo negro */
.requisitos{
    width: 100%;
    background-color: var(--dark-style);
    padding: 2rem;
}

.requisitos h2{
    text-align: center;
    font-size: 3rem;
}

.requisitos h3{
    text-align: center;
    font-size: 2.7rem;
    font-weight: 900;
}

.requisitos p{
    font-size: 1.3rem;
    text-align: center;
}

.requisitos ul{
    list-style: square;
    list-style-position: inside;
}

.requisitos>div{
    display: flex;
}


/* .requisito-item{
    padding: 2rem;
} */

.servicios{
    width: 100%;
    background-image: var(--bg-nubes);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: repeat(6,1fr) max-content;
    grid-template-columns: 100%;
}

.servicios>div{
    display: flex;
    gap:2rem;
    align-items: flex-end;
    background-color: var(--color-main-aqua-green-filter);
    padding: 3rem;
    
}

.servicios>div:nth-child(2n+1){
    background-color: var(--color-main-black-filter-light);
}

.servicios p{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    font-size: 1.5rem;
    text-align: justify;
}

.servicios h3{
    flex-grow: 2;
    flex-shrink: 2;
    width: 100%;
    font-weight: 900;
    font-size: 3rem;
}


#seccion-nubes{
    background:none;
    color:black;
    display: block;
    text-align: justify;
    padding: 2rem;
}

#seccion-nubes h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 2rem;
}

#seccion-nubes h3{
    font-size: 2.3rem;
    font-weight: 600;
}

#contactos{
    background-color: var(--dark-style);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#contactos h2{
    font-size: 3rem;
    color: var(--color-main-aqua-green);
}

#contactos h2 span{
    color: white;
    
}

#contactos h3{
    padding-top: 2rem;
    font-size: 2.5rem;
}

#contactos p{
    font-size: 2.5rem;
}

#contactos a{
    text-decoration: none;
    color: white;
}

.firma{
    
    display: flex;
    align-items: flex-end;
    gap:0.5rem;
    font-size: 1.7rem;
}

#contactos .firma{
    align-self: flex-end;
}
.firma img{
    width: 4rem;
    object-fit: contain;
}

.firma span{
    font-weight: 600;
}

#nav-container{
    display: flex;
    justify-content: flex-start;
    background-color: var(--dark-style);
    padding: 0.5rem;
    width: 100%;
    
}

#nav-container img{
    width: 30px;
    cursor: pointer;
}

nav{
    position: fixed;
    width: 100%;
    
}

.visible-nav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--light-style);
    width: max-content;
    min-width: 45%;
    min-height: 90vh;
}

.visible-nav>div:first-child{
    background-image: linear-gradient(var(--color-main-black-filter),var(--color-main-black-filter)),var(--bg-nubes);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items:flex-start;
}

.visible-nav>div:last-child{
    width: 100%;
    padding: 2rem;
}

.visible-nav ul{
    
    font-weight: 600;
    padding: 2rem 2rem 0rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: 2.5vh;
    flex-wrap: wrap;
}

.visible-nav ul a{
    text-decoration: none;
    color:var(--color-main-aqua-green);
}

.visible-nav ul a:hover{
    color:var(--dark-style);
}

.redes-sociales{
    display:flex;
    gap:1rem;
}

.redes-sociales img{
    width: 20px;
}

.button{
    padding: 0.5rem 0.7rem;
    display:flex;
    align-items: center;
    gap:0.4rem;
    color:white;
    text-decoration: none;
    font-weight: 600;
}

.wsp{
    background-color: #25d366;
}

.gmail{
    background-color: 	#c71610;
}

.nav-hidden{
    display: none;
}

/*componente: cuadro de dos columnas con recuadros corridos*/
.recuadro__item--info{
    display: none;
}

.recuadro__columna-down{
    padding-bottom: 4rem;
}

.recuadro__columna{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
    
}

.recuadro__columna-up{
    padding-top: 4rem;
}

.recuadro__item{
    border-radius: 30px;
    background-color: var(--color-main-aqua-green);
    text-align: center;
    padding: 2rem;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recuadros-corridos{
    display: grid;
    grid-template-columns: auto auto;
    column-gap:20px;
    justify-items: center;
    justify-content: center;
    padding: 2rem;
}

.recuadro__item-icono{
    max-width: 200px;
}
/**/

@media screen and (max-width: 1200px){

    /* header{
        flex-direction: column;
    } */

    #head,#caracteristicas{
        min-height: 60vh;
    }

    .requisitos>div{
        flex-direction: column;
    }

}


@media screen and (max-width: 900px){

    .tres-cols{
        column-count: 2;
    }

    #contactos .firma{
        padding-top: 2rem;
    }

    .visible-nav>div:first-child{
        padding: 1rem;
    }
}

@media screen and (max-width: 750px){

    .servicios>div{
        display: flex;
        flex-direction: column;
        gap:1rem;
        align-items: center;
        
    }

}

@media screen and (max-width: 670px){

    #caracteristicas{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:  repeat(3,1fr);
    }

    #contactos{
        align-items: center;
    }

    #contactos .firma{
        align-self: center;
    }
}

@media screen and (max-width: 570px){
    .tres-cols{
        column-count: 1;
    }

    #contactos h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px){
    #contactos h3{
        font-size: 1.5rem;
    }
    
    #contactos p{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem !important;
    }

    .servicios h3{
        font-size: 2rem;
    }
    
    #seccion-nubes h2{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    
    #seccion-nubes h3{
        font-size: 1.6rem;
    }

    .parrafo-claro h2{
        font-size: 1.5rem;
    }

    
    .parrafo-encuadrado h2{
        font-size: 1.5rem;
    }
    
    .parrafo-con-fondo h2{
        color:white;
        font-size: 1.5rem;
    }

    .firma img{
        width: 2rem;
    }
}


@media screen and (max-width: 430px){
    #head{
        flex-direction: column;
    }

    #caracteristicas h2{
        font-size: 1.5rem;
        
    }

    #caracteristicas img{
        max-width: 100px;
    }

    .botones{
        flex-direction: column;
    }

    .visible-nav{
        width: 100%;
        max-width: 100%;
        min-width: 70%;
    }
}

@media screen and (max-width: 350px){
    #caracteristicas p,#caracteristicas h2{
        padding: 0rem 0.5rem;
    }
    
    #caracteristicas p,#caracteristicas li{
        font-size: 1rem;
    }
    
    #caracteristicas h2{
        font-size: 1.2rem;
        
    }
    
    #ssl{
        font-size: 1rem;
    }
    
    #ssl span{
        font-size: 1.5rem;
    }
    
    #caracteristicas img{
        max-width: 50px;
    }
    
    #contactos h2{
        font-size: 1.5rem;
    }
    
    #contactos h3{
        padding-top: 1rem;
        font-size: 1rem;
    }
}